{% extends 'adminbase.html.twig'%}

{% block title%} Ajouter un Produit {% endblock %}
{% form_theme formProduit 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}

<style>
    .exemple-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font :18px/1.5 sans-serif;}
    .exemple-wrapper code {background: #F5F5F5; padding: 2px 6px;}
</style>
{% endblock %}


{% block body %}
<div class="exemple-wrapper">
    <h1>Ajouter un produit</h1>
    <div class="container mt-4">
        {{form_start(formProduit)}}
            <div class="row">
                {# {{form_row(formProduit.libelle,
                {'attr':{'placeholder':"Titre du Produit"}}
                )}} #}
            </div>
    </div>
    {{form_widget(formProduit)}}
        <button class="btn-success" type="submit">
            Enregistrer
        </button>

    {{form_end(formProduit)}}
</div>    
{% endblock %}